<h1 style='text-align: center; margin: 20px 0'>List of all Posts</h1>

<div class='post-list'>
<% @posts.each do |p| %>
<h4 style='color: blue'>Title:</h4>
<h5><%= p.title %></h5>
<h4 style='color: blue'>Text</h4>
<h5><%= p.body %></h5>
<div style='text-align: center; color: teal'>******</div>

<% end %>
</div>