<h1>My Post</h1>
<%= @post.title %>
<br>
<%= @post.body %>
<hr>

<%= link_to 'Edit', edit_post_path(@post) %>
<br>
<%= link_to 'Delete Post', post_path(@post), method: :delete, data: {confirm: 'are you super-duper sure???!?!'} %>
