// Place all the styles related to the posts controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/


* {
	margin: 0;
	padding: 0;
}

.post-list {
	border: 2px solid red;
	width: 40%;
	margin: 0 auto;
	background-color: salmon;
	text-align: center;
}

.post-form {
	width: 50%;
	margin: 10px auto;
	background-color: teal;
	padding: 10px;
}
